pipeline/load_json_table.json
{
	"name": "load_json_table",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "outCSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "singlequote",
						"value": "@variables('singlequote')"
					}
				],
				"typeProperties": {
					"storedProcedureName": "[dbo].[load_json_sp]",
					"storedProcedureParameters": {
						"myjson": {
							"value": {
								"value": "@concat(variables('singlequote'),activity('Get Metadata1').output.childItems, variables('singlequote'))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"singlequote": {
				"type": "String",
				"defaultValue": "'"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-25T20:00:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}